<?xml version="1.0"?>
<model>
  <name>lidar_3d_v1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Map Consensus Project</name>
    <email>liumengyang@localhost</email>
  </author>
  <description>
    Lightweight 32-layer 3D GPU LiDAR for PX4 Gazebo Sim mapping tests.
  </description>
</model>
